{% load static %}
<header class="header">
            <div class="container">
                <div class="headerinner">
                    <div class="headerlogo">
                        <a href="/"><img src="{% static 'img/LOGO.png' %}" alt=""></a>
                    </div>
                    <nav class="nav">
                        {% if  user.is_authenticated %}
                            <a class="nav__link" href="{% url 'profile' %}">Профиль</a>
                            <a class="nav__link" href="{% url 'logout' %}">Выйти</a>
                            <a class="nav__link" href="{% url 'newpost' %}">Подать обьявление</a>
                            {% else %}
                            <a class="nav__link" href="{% url 'login' %}">Войти</a>
                            <a class="nav__link" href="{% url 'register' %}">Регестрация</a>
                            <a class="nav__link" href="{% url 'newpost' %}">Подать обьявление</a>

                        {% endif %}
                    </nav>
                </div>
        </div>
    </header>