{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/login_register.css' %}">
    <title>Регистрация eSALE</title>
</head>
<body>
    {% block content %}
        <div class="maindiv">
            <h1>Регистрация</h1>
{#            <strong>{{ error }}</strong>#}
            <form action="{% url 'register' %}" method="post">
                <p>{{ form.username }}</p>
                <p>{{ form.first_name }}</p>
                <p>{{ form.last_name }}</p>
                <p>{{ form.password1 }}</p>
                <p>{{ form.password2 }}</p>
                <p>{{ form.email }}</p>
                {% csrf_token %}
                <button class="accept" type="submit">Регистрация</button>
                <a href="{% url 'login' %}" class="accept" >Вход</a>
            </form>
        </div>
    {% endblock %}
</body>
</html>