{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Сервис eSALE</title>
</head>
<body>
    <header class="header">
            <div class="container">
                <div class="headerinner">
                    <div class="headerlogo">
                        <a href=""><img src="{% static 'img/LOGO.png' %}" alt=""></a>
                    </div>
                    <nav class="nav">
                        <a class="nav__link" href="#">Профиль</a>
                        <a class="nav__link" href="#">Подать обьявление</a>
                    </nav>
                </div>
        </div>
    </header>
    <div class="full-search">
        <div class="container">

        </div>
        <div class="searching">
            <div>
                <select class="category" title='Категории' name="category">
                    {% for category in all_category %}
                        <option>{{ category.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="helper">
                <input class='searchbar' type="search" placeholder="Что вы хотите найти?">
            </div>
            <div>
                <h6 class="price">Цена</h6>
                <input class="searchprice" type="number" placeholder="От..." min="1">
                <input class="searchprice" type="number" placeholder="До..." min="1">
            </div>
        </div>
        <div class="popular_thing">
            <h3>Популярные предложения:</h3>
        </div>
    </div>
    <div class="postview">
        <div class="postdetail">
             <div>
                <img class = "imagepost" src="{% static 'img/test.png' %}" alt="">
            </div>
            <div>
                <p><span>Машнка хуинка такая крутая...</span></p>
                <p class = "litle-text">2022-04-04 11:53:26</p>
                <p><h3>6500</h3></p>
            </div>
        </div>
        <div class="postdetail">
             <div>
                <img class="imagepost" src="{% static 'img/test2.png' %}" alt="">
            </div>
            <div>
                <p><span>Машнка хуинка такая крутая...</span></p>
                <p class = "litle-text">2022-04-04 11:53:26</p>
                <p><h3>6500</h3></p>
            </div>
        </div>
        <div class="postdetail">
             <div>
                <img class="imagepost" src="{% static 'img/test.png' %}" alt="">
            </div>
            <div>
                <p><span>Машнка хуинка такая крутая...</span></p>
                <p class = "litle-text">2022-04-04 11:53:26</p>
                <p><h3>6500</h3></p>
            </div>
        </div>
        <div class="postdetail">
             <div>
                <img class="imagepost" src="{% static 'img/test.png' %}" alt="">
            </div>
            <div>
                <p><span>Машнка хуинка такая крутая...</span></p>
                <p class = "litle-text">2022-04-04 11:53:26</p>
                <p><h3>6500</h3></p>

            </div>
        </div>
    </div>
</body>
</html>