{% load static %}
{% load main_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Сервис eSALE</title>
</head>
<body>
    {# Меню #}
    <header class="header">
            <div class="container">
                <div class="headerinner">
                    <div class="headerlogo">
                        <a href=""><img src="{% static 'img/LOGO.png' %}" alt=""></a>
                    </div>
                    <nav class="nav">
                        <a class="nav__link" href="#">Профиль</a>
                        <a class="nav__link" href="#">Подать обьявление</a>
                    </nav>
                </div>
        </div>
    </header>

    {#  Панель поиска #}
    {% search_block %}
     <div class="popular_thing">
         <h3>Популярные предложения:</h3>
     </div>

    {#  Вывод постов #}
    <div class="postview">
        {% for posts in post_list%}
            <a href="{{ posts.get_absolute_url }}">
                <div class="postdetail">
             <div>
                <img src="{{ posts.image.url }}" alt="" height="195", width="250" >
            </div>
            <div>
                <p class="maintext">{{ posts.title }}</p>
                <p class = "litle-text">{{ posts.published_date}}</p>
                <p><h3>{{ posts.cost }}</h3></p>
            </div>
        </div>
            </a>
    {% endfor %}
    </div>

</body>
</html>