{% load static main_tags%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Сервис eSALE</title>
</head>
<body>
    {# Меню #}
    {% header_block %}
    {#  Панель поиска #}
    {% search_block %}
    <div class="popular_thing">
         <h3>Детали обьявления:</h3>
     </div>
    <div class="postdetail">
        <img src="{{ post.image.url }}" alt="" height="300", width="350" >
        <div class="postinfo">
            <p><strong>{{ post.title }}</strong></p>
            <p><span>{{ post.text }}</span></p>
            <p><strong>{{ post.cost }} грн</strong></p>
            <p class="smalltext"><strong>Просмотрено:</strong> {{ post.views }}</p>
            <p class="smalltext"><strong>Дата публикации:</strong> {{ post.published_date }}</p>
        </div>
        <div class="postinfo">
            <p><strong>{{ user.first_name }}</strong></p>
            <p><strong>{{ user.last_name }}</strong></p>
            <p>{{ user.email }}</p>
            <p class="smalltext"><strong>Зарегестрирован с </strong>{{ user.date_joined.date }}</p>
        </div>
    </div>
</body>